* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .col-1 {
    background-color: palevioletred;
    flex: 1;
    text-align: center;
    font-size: x-large;
  }
  article
  {
      padding: 10px;
      margin: 5px ;
      border: 2px solid mediumblue;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 6;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > .ArticleContainer {
    flex: 3;
    min-height: 60vh;
    background-color: aqua;
  }
  .content > aside {
    background: yellowgreen;
    flex: 1;
    font-size: 20px;
    text-align: center;
  }
  header{
    background-color: forestgreen;
    font-size: x-large;
    padding: 2px;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Garamond';
    text-align: center;
  }
footer {
    background-color: forestgreen;
    padding: 2px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Garamond';
    text-align: center;
  }
  header, footer, .ArticleContainer, nav, aside {
    padding: 1em;
  }